<div class="content">
  <h1>FILTERS</h1>
  <form [formGroup]="filterForm" class="example-form mt-3" (ngSubmit)="onSubmit()" >
    <mat-form-field class="example-full-width" color="primary">
      <input matInput placeholder="E mail" type="email"  formControlName="email" />
    </mat-form-field>

    <mat-form-field class="example-full-width mt-3" color="primary">
      <span matPrefix>+1 &nbsp;</span>
      <input matInput placeholder="Phone" type="tel" formControlName="phone"/>
    </mat-form-field>

    <mat-form-field class="example-full-width mt-3" color="primary">
      <input matInput placeholder="Name" type="text"   formControlName="name"/>
    </mat-form-field>

    <mat-form-field class="example-full-width mt-3" color="primary">
      <input matInput placeholder="Company" type="text" formControlName="company" />
    </mat-form-field>

    <mat-form-field class="example-full-width mt-3" color="primary">
      <mat-select placeholder="Country"  formControlName="country">
        <mat-option
          *ngFor="let contry of allcountery"
          value="{{ contry.name }}"
          >{{ contry.name }}</mat-option
        >
        <mat-option class="text-center">
          <button
            mat-icon-button
            color="primary"
            class="mr-1"
            (click)="deCrease()"
          >
            <mat-icon>arrow_back_ios</mat-icon>
          </button>
          <button
            mat-icon-button
            color="primary"
            class="ml-1"
            (click)="inCrease()"
          >
            <mat-icon>arrow_forward_ios</mat-icon>
          </button>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width mt-3" color="primary">
      <input matInput placeholder="Date" type="date" formControlName="date"/>
    </mat-form-field>
    <button mat-raised-button color="primary" class="mb-4" type="submit" [disabled]="!filterForm.valid">
      <mat-icon aria-label="Example home icon">filter_list</mat-icon>
      Filter
    </button>
  </form>
</div>
