.content {
  text-align: center;
  background: #ffff;
  height: 100% !important;
}
mat-form-field {
  background-color: #fff !important;
}
h1 {
  padding-top: 30px;
  font-size: 35px;
  margin-bottom: 0;
  padding-bottom: 30px;
  border-bottom: 2px solid #e8e8e8;
}
.example-full-width {
  width: 90%;
}
